<h1><%= @place["name"] %> </h1>
<% if @current_user %>

    <div class="d-flex justify-content-between mb-3">
      <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Entry</a>
    </div>
 
<% for entry in @entries %>
  <h3><%= entry["title"] %></h3>
  <h4><%= entry["occurred_on"] %></h4>
  <p><%= entry["description"] %></p>
<% end %>

<p>
  <a href="/places">Back to All Places</a>
</p>

<% end%>